channel-cc-service
!system-genesis-block/.gitkeep
my-application/keystore
my-application/wallet
my-chaincode/vendor
organizations/peerOrganizations
organizations/ordererOrganizations
config.yaml
system-genesis-block/genesis.block 
channel-artifacts/ 
log.txt
